:root {
  --main-font: "Roboto", sans-serif;
  --width: 1200px;
  --width_header: calc(768px + (100vw - 768px) / 2);
}

html {
  box-sizing: border-box;
}

body {
  background-color: rgb(254, 251, 232);
  color: #202028;
  font-family: var(--main-font);
  letter-spacing: 0.02em;
  background-position: top center;
  background-image: linear-gradient(to bottom, rgba(203, 186, 186, 0.75), rgba(162, 161, 149, 0.75)),
    url("../images/bg-img/bg-img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 100vw;
  padding: 10px 20px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 997;
  width: 100vw;
  height: 90px;
  left: 0;
  top: 0;
  padding: 0 25px;
  background-color: rgba(212, 176, 155, 0.5);
  background-image: linear-gradient(to right, #ff00004d, #04044940);
  box-shadow: 0px 1px 15px 0px rgba(192, 51, 51, 0.75);
  border-radius: 10px;
}

.header__container:hover {
  background-image: linear-gradient(to right, #ff000061, #04044961);
  border-radius: 10px 10px 0 0;
}

.header__menu {
  position: absolute;
  z-index: 996;
  width: 100%;
  height: 45px;
  left: 0;
  top: 100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(189, 160, 142, 0.7);
  border-radius: 0 0 10px 10px;
}

.header__container:hover .header__menu {
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main__logo_t {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  /* color: darkred; */
  color: transparent;
  background-color: black;
  background-image: linear-gradient(
    to right,
    rgba(193, 157, 16, 1) 1%,
    rgba(209, 65, 89, 1) 43%,
    rgba(16, 33, 120, 1) 88%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  animation: gradientAnimation 1500ms linear infinite;
}

.main__logo_s {
  display: none;
  /* color: darkblue;
  color: transparent;
  background-image: linear-gradient(to right, #ff00004d, #04044940);
  background-clip: text;
  -webkit-background-clip: text; */
}

.main__logo_m {
  width: 115px;
  height: 70px;
  background-image: url(../images//icon/kraken_razderi.png);
  background-size: cover;
}

.header__sabut {
  width: 88px;
  height: 70px;
  background-image: url(../images//icon/pirat_rum.png);
  background-size: cover;
}

.header__menu_item {
  position: relative;
}

.header__menu_item::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 110%;
  width: 300%;
  padding: 8px;
  background-color: transparent;
  color: #e6f278;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 998;
  pointer-events: none;
}

.header__menu .header__menu_item::after {
  width: 200%;
  top: 23px;
  left: 90%;
  pointer-events: none;
}

.header__menu_item:hover:after {
  opacity: 1;
}

.icon-1 {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url(../images//icon/pirat_buh.png);
}

.icon-2 {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url(../images//icon/pirats_buh.png);
}

.icon-3 {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url(../images//icon/pirat_portret.png);
}

@keyframes blink {
  0% {
    background-color: rgba(28, 21, 21, 0.802);
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.75);
  }
  50% {
    background-color: rgba(193, 13, 13, 0.743);
    box-shadow: 0px 0px 3px 5px rgba(114, 9, 9, 0.75);
  }
  100% {
    background-color: rgba(28, 21, 21, 0.802);
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.75);
  }
}

.main__logo {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: rgba(57, 54, 54, 0.473);
  background-image: url(../images//icon/crossing_bones_skull_vector_logo.png);
  background-size: cover;
  border: 1px solid rgba(30, 11, 11, 0.715);
  border-radius: 8px;
  /* box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.75); */
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  animation-name: blink;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
}

.main__logo::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 25%;
  right: 90%;
  width: 300%;
  padding: 8px;
  background-color: transparent;
  color: #f2ea78;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 998;
  pointer-events: none;
}

.main__logo:hover:after {
  opacity: 1;
}

/* .main__logo:hover {
  background-color: rgba(139, 0, 0, 0.422);
  box-shadow: 0px 0px 3px 5px rgba(114, 9, 9, 0.75);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.main__container {
  position: relative;
  margin-top: 115px;
}

.teka__photo {
  position: relative;
  top: 150vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 15px;
  animation: slide-up 3000ms forwards;
}

@keyframes slide-up {
  to {
    top: 0;
  }
}

.teka__photo_img {
  display: inline-block;
  width: calc(100% - 10px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: scroll;
}

.zoomed {
  position: relative;
  z-index: 998;
  transform: scale(3);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teka__photo_img:hover {
  cursor: nesw-resize;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 80px;
  background-color: rgba(212, 176, 155, 0.5);
  background-image: linear-gradient(to right, #ff00004d, #04044940);
  box-shadow: 0px 1px 15px 0px rgba(192, 51, 51, 0.75);
}

.footer_text {
  width: 130px;
  padding: 0 15px;
  text-align: center;
  color: rgb(121, 17, 17);
  font-size: 12px;
}

.footer_logo_l {
  width: 70px;
  height: 70px;
  background-image: url(../images//icon/skull_pirates_with_sword_illustration-removebg-preview.png);
  background-size: cover;
}

.footer_logo_r {
  width: 105px;
  height: 70px;
  background-image: url(../images//icon/flag.png);
  background-size: cover;
  border-radius: 10px;
}

@media screen and (min-width: 428px) {
  .footer_text {
    width: 228px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .main__logo_s {
    display: block;
  }

  .main__logo_m {
    display: none;
  }

  .teka__photo {
    column-gap: 15px;
    row-gap: 20px;
  }

  .teka__photo_img {
    width: calc((100% - 15px) / 2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-x: scroll;
  }

  .teka__photo_img:nth-child(2n + 1) {
    transform-origin: top left;
  }

  .teka__photo_img:nth-child(2n) {
    transform-origin: top right;
  }

  .footer_text {
    width: auto;
    font-size: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    min-width: 768px;
    max-width: var(--width);
    margin-top: 60px;
    padding: 15px 82px;
  }

  .header__container {
    width: var(--width_header);
    left: calc((100vw - var(--width_header)) / 2);
  }

  .teka__photo {
    top: 100vw;
    column-gap: 30px;
    row-gap: 40px;
  }

  .teka__photo_img {
    width: calc((100% - 30px * 2) / 3);
  }

  .teka__photo_img:nth-child(3n + 1) {
    transform-origin: top left;
  }

  .teka__photo_img:nth-child(3n) {
    transform-origin: top right;
  }

  .footer_text {
    font-size: 30px;
  }
}
